* {
  font-family: "Oswald", sans-serif;
}

/*Todos os "<h1>" terão essas configs*/
.container h1 {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #232323;
}

/*Todos os "<h2>" vão herdar essas configs */
.container h2 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 5%;
}

/*Todos os "<p>" vão herdar essas configs*/
.container p {
  font-weight: normal;
  font-size: 18px;
  text-align: justify;
}

/*Todos os "<span>" terão essas configs*/
.container span {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: #00e0ff;
}

/*Tamanho titulos dos campos*/
.container .title-size h2 {
  font-size: 26px;
}

/*Cria uma linha de baixo dos titulos*/
.container .linha {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #00e0ff;
  margin-bottom: 50px;
}

/*Adciona um espaço de baixo dos titulos*/
.container .espaco {
  width: 100%;
  min-height: 100px;
  margin-bottom: 100px;
}

.container .margin-item {
  margin-bottom: 10px;
}

#sobre {
  margin-bottom: 25px;
}

#sub-title h2 {
  margin-top: 0px;
}

.container {
  width: 90%;
  max-width: 2024px;
  min-height: 100%;
  margin: auto;
}
.container .h-name {
  width: 100%;
  min-height: 100px;
  margin-top: 5%;
  margin-bottom: 100px;
}

.container .h-name h2 {
  font-size: 32px;
  color: #00e0ff;
}

/* Sobre */

/* Experiência */

.container .h-experiencia .h-itens .item {
  font-size: 22px;
}

.container .h-experiencia .h-itens {
  width: 100%;
  min-height: 100px;
}
.container .h-experiencia .h-itens .item {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 220px;
}
.container .h-experiencia .h-itens .item .work {
  min-width: 25%;
  max-width: 25%;
  min-height: 100px;
}

.container .h-experiencia .h-itens .item .work h2 {
  margin-bottom: 10px;
}

.container .h-experiencia .h-itens .item .description {
  width: 75%;
  min-height: 100px;
}
.container .h-experiencia .h-itens .item .description h2 {
  margin-bottom: 10px;
  color: #00e0ff;
  margin-top: 15px;
}

/* Educação */
.container .h-educacao {
  width: 100%;
  min-height: 100px;
}

.container .h-educacao .item-e {
  width: 100%;
  min-height: 220px;
}
.container .h-educacao .item-e .title {
  margin-bottom: 10px;
}
.container .h-educacao .item-e .title h2 {
  font-size: 22px;
  margin-top: 0px;
}

/* Habilidades */

.container .h-habilidades .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}

.container .h-habilidades .item .title {
  min-width: 150px;
}

.container .h-habilidades .item .icon {
  position: relative;
  width: 200px;
  height: 18px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  background: transparent;
}
/* Percentuais */

.container .h-habilidades .item .icon .percentual {
  border-radius: 6px;
  background-color: #00e0ff;
  height: 100%;
}

#percentual-10 {
  width: 110px;
}
#percentual-50 {
  width: 150px;
}
#percentual-80 {
  width: 180px;
}
#percentual-100 {
  width: 200px;
}

/* Contato */

.container .h-contato {
  width: 100%;
  min-height: 200px;
  margin-bottom: 50px;
}

.container .h-contato .item-c {
  width: 100%;
  min-height: 80px;
}

.container .h-contato .item-c p {
  color: #00e0ff;
}

.container .h-contato .item-c h2 {
  margin-top: 0px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #00e0ff;
}
